<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asjy.commerplat.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.asjy.commerplat.model.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="classid" property="classid" jdbcType="INTEGER" />
    <result column="brandid" property="brandid" jdbcType="INTEGER" />
    <result column="sellprice" property="sellprice" jdbcType="DECIMAL" />
    <result column="originalprice" property="originalprice" jdbcType="DECIMAL" />
    <result column="Inventory" property="inventory" jdbcType="INTEGER" />
    <result column="salevolume" property="salevolume" jdbcType="INTEGER" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="volume" property="volume" jdbcType="DECIMAL" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="goodsnumber" property="goodsnumber" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="BIT" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="brandname" property="brandname" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.asjy.commerplat.model.Goods" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <result column="details" property="details" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, addtime, goodsname, classid, brandid, sellprice, originalprice, Inventory, salevolume, 
    clicks, state, path, volume, weight, goodsnumber, recommend
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    details
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="findByClasses" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods
    where classid= #{classid}
  </select>
  
  
   <select id="findByBrand" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods
    where brandid= #{brandid}
  </select>
   <select id="selectGoodsByClassidAndGoodsname" resultMap="ResultMapWithBLOBs">
     select 
    goods.id as id, goods.addtime, goods.goodsname, goods.classid, goods.brandid, goods.sellprice, goods.originalprice, goods.Inventory, goods.salevolume, goods.clicks, goods.state, goods.path, goods.volume, goods.weight, goods.goodsnumber, goods.recommend ,goods.details, classes.classname as classname
    from tb_goods goods
    left join tb_classes classes on classes.id=goods.classid
    where goods.state ="上架" 
	<if test="goodsname != null and goodsname != ''">
		and goods.goodsname like '%${goodsname}%'
	</if>
	<if test="list_classesid != null">
		and goods.classid in 
		<foreach collection="list_classesid" item="item" index="index" open="(" separator="," close=")">
         #{item}
    	</foreach>
	</if>
	
  </select>
  
  
  
  
  <select id="findByGoodsNumber" resultMap="ResultMapWithBLOBs">
  select
   <include refid="Base_Column_List" />,<include refid="Blob_Column_List" />
    from tb_goods
    where goodsnumber = #{goodsnumber}
  </select>
  
  
  <select id="findAll" resultMap="ResultMapWithBLOBs">
    select 
    goods.id as id, goods.addtime, goods.goodsname, goods.classid, goods.brandid, goods.sellprice, goods.originalprice, goods.Inventory, goods.salevolume, goods.clicks, goods.state, goods.path, goods.volume, goods.weight, goods.goodsnumber, goods.recommend ,goods.details, brand.brandname as brandname, classes.classname as classname
    from tb_goods goods
    left join tb_brand brand on brand.id=goods.brandid
    left join tb_classes classes on classes.id=goods.classid
    order by goods.addtime desc
  </select>
  
    <select id="findByConditions" resultMap="ResultMapWithBLOBs">
    select 
    goods.id as id, goods.addtime, goods.goodsname, goods.classid, goods.brandid, goods.sellprice, goods.originalprice, goods.Inventory, goods.salevolume, goods.clicks, goods.state, goods.path, goods.volume, goods.weight, goods.goodsnumber, goods.recommend ,goods.details, brand.brandname as brandname, classes.classname as classname
    from tb_goods goods
    left join tb_brand brand on brand.id=goods.brandid
    left join tb_classes classes on classes.id=goods.classid
    where 1=1 
	<if test="goodsname != null and goodsname != ''">
		and goods.goodsname like '%${goodsname}%'
	</if>
	<if test="list_classesid != null">
		and goods.classid in 
		<foreach collection="list_classesid" item="item" index="index" open="(" separator="," close=")">
         #{item}
    	</foreach>
	</if>
	<if test="brand_ids != null and brand_ids != ''">
		and goods.brandid =  #{brand_ids}
	</if>
	<if test="priceBegin != null and priceBegin != ''">
		and goods.sellprice &gt;=  #{priceBegin}
	</if>
	<if test="priceEnd != null and priceEnd != ''">
		and goods.sellprice &lt;=  #{priceEnd}
	</if>
	<if test="orderBy != null and orderBy != ''">
	order by goods.${orderBy} ${orderType}
	</if>
  </select>
  
  
  
   <select id="findByRecommend" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods
    where recommend = #{recommend}
    order by rand() limit 5
  </select>
  
  
  <select id="findByNewGoods" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods
    order by addtime desc
	limit 5
  </select>
  
  <select id="findByinventoryGoods" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_goods
    order by inventory desc
    limit 5
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from tb_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.asjy.commerplat.model.Goods" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_goods (id, addtime, goodsname, 
      classid, brandid, sellprice, 
      originalprice, Inventory, salevolume, 
      clicks, state, path, 
      volume, weight, goodsnumber, 
      recommend, details)
    values (#{id,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{goodsname,jdbcType=VARCHAR}, 
      #{classid,jdbcType=INTEGER}, #{brandid,jdbcType=INTEGER}, #{sellprice,jdbcType=DECIMAL}, 
      #{originalprice,jdbcType=DECIMAL}, #{inventory,jdbcType=INTEGER}, #{salevolume,jdbcType=INTEGER}, 
      #{clicks,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{volume,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, #{goodsnumber,jdbcType=VARCHAR}, 
      #{recommend,jdbcType=BIT}, #{details,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asjy.commerplat.model.Goods" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="classid != null" >
        classid,
      </if>
      <if test="brandid != null" >
        brandid,
      </if>
      <if test="sellprice != null" >
        sellprice,
      </if>
      <if test="originalprice != null" >
        originalprice,
      </if>
      <if test="inventory != null" >
        Inventory,
      </if>
      <if test="salevolume != null" >
        salevolume,
      </if>
      <if test="clicks != null" >
        clicks,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="volume != null" >
        volume,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="goodsnumber != null" >
        goodsnumber,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="details != null" >
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="brandid != null" >
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="sellprice != null" >
        #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="originalprice != null" >
        #{originalprice,jdbcType=DECIMAL},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="salevolume != null" >
        #{salevolume,jdbcType=INTEGER},
      </if>
      <if test="clicks != null" >
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="goodsnumber != null" >
        #{goodsnumber,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=BIT},
      </if>
      <if test="details != null" >
        #{details,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asjy.commerplat.model.Goods" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_goods
    <set >
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        classid = #{classid,jdbcType=INTEGER},
      </if>
      <if test="brandid != null" >
        brandid = #{brandid,jdbcType=INTEGER},
      </if>
      <if test="sellprice != null" >
        sellprice = #{sellprice,jdbcType=DECIMAL},
      </if>
      <if test="originalprice != null" >
        originalprice = #{originalprice,jdbcType=DECIMAL},
      </if>
      <if test="inventory != null" >
        Inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="salevolume != null" >
        salevolume = #{salevolume,jdbcType=INTEGER},
      </if>
      <if test="clicks != null" >
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="goodsnumber != null" >
        goodsnumber = #{goodsnumber,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=BIT},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.asjy.commerplat.model.Goods" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_goods
    set addtime = #{addtime,jdbcType=TIMESTAMP},
      goodsname = #{goodsname,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=INTEGER},
      brandid = #{brandid,jdbcType=INTEGER},
      sellprice = #{sellprice,jdbcType=DECIMAL},
      originalprice = #{originalprice,jdbcType=DECIMAL},
      Inventory = #{inventory,jdbcType=INTEGER},
      salevolume = #{salevolume,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      volume = #{volume,jdbcType=DECIMAL},
      weight = #{weight,jdbcType=DECIMAL},
      goodsnumber = #{goodsnumber,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=BIT},
      details = #{details,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asjy.commerplat.model.Goods" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_goods
    set addtime = #{addtime,jdbcType=TIMESTAMP},
      goodsname = #{goodsname,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=INTEGER},
      brandid = #{brandid,jdbcType=INTEGER},
      sellprice = #{sellprice,jdbcType=DECIMAL},
      originalprice = #{originalprice,jdbcType=DECIMAL},
      Inventory = #{inventory,jdbcType=INTEGER},
      salevolume = #{salevolume,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      volume = #{volume,jdbcType=DECIMAL},
      weight = #{weight,jdbcType=DECIMAL},
      goodsnumber = #{goodsnumber,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>