<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asjy.commerplat.dao.SpecMapper" >
  <resultMap id="BaseResultMap" type="com.asjy.commerplat.model.Spec" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="specname" property="specname" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="specvnames" property="specvnames" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <resultMap id="BaseResultMap2" type="com.asjy.commerplat.model.Spec" >
    <id column="specid" property="id" jdbcType="INTEGER" />
    <result column="specname" property="specname" jdbcType="VARCHAR" />
    <collection property="list_specv" ofType="com.asjy.commerplat.model.Specv">
		<id column="specvid" property="id" jdbcType="INTEGER" />
	    <result column="specvname" property="specvname" jdbcType="VARCHAR" />
	</collection>
  </resultMap>
  
  <resultMap id="BaseResultMap3" type="com.asjy.commerplat.model.Spec" >
    <id column="specid" property="id" jdbcType="INTEGER" />
    <result column="specname" property="specname" jdbcType="VARCHAR" />
	<result column="specvid" property="specvid" jdbcType="INTEGER" />
	<result column="specvname" property="specvname" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, addtime, specname, seq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    spec.id, spec.addtime, spec.specname, spec.seq, group_concat(specv.specvname order by specv.seq separator ',') as specvnames
    from tb_spec spec
    left join tb_specv specv on specv.specid = spec.id
    where spec.id = #{id}
    group by spec.id
    order by spec.seq asc
  </select>
  
  
  <select id="findAll" resultMap="BaseResultMap">
    select 
    spec.id, spec.addtime, spec.specname, spec.seq, group_concat(specv.specvname order by specv.seq separator ',') as specvnames
    from tb_spec spec
    left join tb_specv specv on specv.specid = spec.id
    group by spec.id
    order by spec.seq asc
  </select>
  
  
    <select id="selectedById" resultMap="BaseResultMap2">
    select 
    spec.id as specid, spec.specname,specv.id as specvid, specv.specvname
    from tb_spec spec
    left join tb_specv specv on specv.specid = spec.id
    where spec.id = #{id}
  </select>
  
  
  <select id="findByGoodsNumber" resultMap="BaseResultMap2">
    select 
    spec.id as specid, spec.specname,specv.id as specvid, specv.specvname
    from tb_spec spec
    left join tb_goods_spec gspec on gspec.specid = spec.id
    left join tb_specv specv on specv.id = gspec.specvid
    where gspec.goodsnumber = #{goodsnumber}
  </select>
  
  <select id="findByGoodsId" resultMap="BaseResultMap3">
    select 
    spec.id as specid, spec.specname,specv.id as specvid, specv.specvname
    from tb_spec spec
    left join tb_goods_spec gspec on gspec.specid = spec.id
    left join tb_specv specv on specv.id = gspec.specvid
    where gspec.goodsid = #{id}
  </select>
  

  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from tb_spec
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="com.asjy.commerplat.model.Spec" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_spec (id, addtime, specname, 
      seq)
    values (#{id,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{specname,jdbcType=VARCHAR}, 
      #{seq,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.asjy.commerplat.model.Spec" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_spec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="specname != null" >
        specname,
      </if>
      <if test="seq != null" >
        seq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="specname != null" >
        #{specname,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asjy.commerplat.model.Spec" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_spec
    <set >
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="specname != null" >
        specname = #{specname,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asjy.commerplat.model.Spec" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_spec
    set addtime = #{addtime,jdbcType=TIMESTAMP},
      specname = #{specname,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>